<div class="container-edit">
    <div class="input-con">
      <p>เเก้ไขรหัสผ่าน</p>
      <div class="edit-input">
        <i class="pi pi-lock" style="margin-right: 5px;"></i>
        <p>รหัสผ่าน</p>
        <input type="password" placeholder="เเก้ไขรหัสผ่าน" [(ngModel)]="password">
      </div>
      <div class="edit-input">
        <i class="pi pi-lock" style="margin-right: 5px;"></i>
        <p>ยืนยันรหัสผ่าน</p>
        <input type="password" placeholder="ยืนยันรหัสผ่าน" [(ngModel)]="confirmPassword">
      </div>
      <button class="edit" type="submit" (click)="edit()">บันทึกการเเก้ไข</button>
    </div>
  </div>
  