.container-edit{
    display: grid;
    width: 100%;
    justify-items: center;
}
input{
    margin-top: 1%;
    height:50px;
    width: 100%;
    border: 1px  solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 5px 5px;
}
.input-con{
    display: grid;
    text-align: center;
    padding: 2% 5%;
    width: 70%;
    background-color: white;
}
.edit-password{
    cursor: pointer;
    background-color: white;
    padding: 2% 5%;
    font-size: 15px;
    border-bottom:  1px  solid rgb(133, 133, 133);
}
.edit-input{
    text-align: left;
    align-items: center;
    display: grid;
    grid-template-columns: 5% 16% 79%;
}
.edit{
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2% 5%;
    width: 100%;
    color: white;
    background-color:#009c98 ;
    transition: 0.5s;
}
.edit:hover{
    border-radius: 15px;
opacity: 70%;
}