.content-reservation{
    margin-top: 10px;
    display: grid;
    gap: 2%;
    grid-template-columns: 64% 29%;
}
.img-boot{
    border-radius: 5px;
    padding: 5% 5%;
width: 100%;
height: 184px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   
}
.boot{
    border-radius: 5px;
    column-gap: 2%;
    display: grid;
    grid-template-columns: 28% 70%;  
background-color: white;
}
.boot-con{
    grid-template-rows: 24.5% 24.5% 24.5% 24.5%;
    padding: 5% 0%;
  row-gap: 2%;
  display: grid;
}
.qr-code{
    width:100%;
}

.content-user{
    border-radius: 5px;
padding: 5%;
background-color: #ffff;
 font-size: 20px;
}
.sell{
    margin-top: 5px;
    padding: 10px 10px;
   border-radius: 10px;
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #bdbdbd;
margin-bottom: 5px;
}
input[type="file"] {
    width: 100%;
    /* เปลี่ยนสีพื้นหลัง */
    background-color: #f0f0f0;
    /* เปลี่ยนสีของข้อความ */
    color: #333;
    /* ทำให้มีขอบเงา */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* ขนาดของ input */
    padding: 8px 12px;
    /* ขอบ */
    border-radius: 4px;
    /* เปลี่ยน cursor เมื่อชี้ไปที่ input */
    cursor: pointer;
  }
  input[type="file"]:hover {
    background-color: #e0e0e0; 
  }
  .con-text{
    padding: 5px;
  }
  .all-bank{
    font-size: 15px;
    border-radius: 5px;
    font-weight: 300;
    color: #6e6e6e;
    border: solid 1px #517977 ;
  }
.content-user p{
  padding: 10px 5px;
   border-bottom: solid 1px #c7c7c7;
   
}
.con-text{
    padding: 5px 5px;
}

.title{
    font-size: 25px;
    text-align: center;
}
.reservation-btn{
    font-size: 17px;
    margin-top: 10px;
    width: 100%;
    color: #ffffff ;
    background-color: #009c98;
    padding: 5px 15px;
    // margin-right: 15px;
    text-decoration: none;
    // color: #006864 ;
    margin-right: 5px;
    // transition: 0.2s;
    border-bottom: 1px solid #009c98;
    transition: 0.5s;
    // border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cont-t{
    font-size: 15px;
}
.reservation-btn:hover{
opacity: 70%;
    border-bottom: 1px solid #009c98;
border-radius: 10px;
transition: 0.5s;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.con-text p {
    border: none;
    padding: none;
    margin: none;
}
.promtpay-content p {
    font-size: 17px;
    border: none;
    padding: none;
    margin: none;
    // color: #009c98;
}
.head-title-promtpay{
    
    width: 30%;
}
.promtpay-content{
    text-align: center;
}
.con-map-boot{
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    height: 470px;
    margin-bottom: 5px;
}

.head-promtpay{
    width: 100%;
}
.number_boot{
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #0f5229;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }
.number_boot{
    border-bottom:1px solid #a3a3a3;
}
.reserva-btn{
    justify-content: center;
    -ms-flex-item-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color:#fff;
    background-color:#009c98 ;
    cursor: pointer;
}
.reserva-btn-wait{
    justify-content: center;
    -ms-flex-item-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color:#000000;
    background-color:gold ;
    cursor: pointer;
}
.reserva-btn-full{
    justify-content: center;
    -ms-flex-item-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color:#ffffff;
    background-color:rgb(192, 0, 0) ;
    cursor: pointer;
}
.reserva-btn:hover{
    opacity: 90%;
}
.reserva-btn-full i{
    font-size: 15px;
    margin-right: 5px;
    }
.reserva-btn-wait i{
    font-size: 15px;
    margin-right: 5px;
}
.reserva-btn i{
    font-size: 15px;
    margin-right: 5px;
}