<div *ngFor="let checkReservation of checkReservations">
    <div class="detail-checkReservations">
      <table>
        <tr>
          <td>ชื่อผู้ใช้</td>
          <td>{{ checkReservation.account[0].firstname }}</td>
          <td>{{ checkReservation.account[0].lastname }}</td>
          <td>{{ checkReservation.reservation.sell }}</td>
          <td><button (click)="checkReservationDetail(checkReservation.reservation.id_reservation)">ตรวจสอบ</button></td>
        </tr>
      </table>
      <div *ngFor="let account of checkReservation.account">
        <div *ngFor="let boot of account.boot">
          <p>Zone ID: {{ boot.id_zone }}</p>
          <p>Number Boot: {{ boot.number_boot }}</p>
          <p>Price: {{ boot.price }}</p>
          <p>Zone Name: {{ boot.zone.name_zone }}</p>
        </div>
      </div>
    </div>
  </div>
  