.con-map-zone{
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    height: 470px;
    margin-bottom: 5px;
   
}
.container-button{
   
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto ;
}
.detailBoot-btn{
    background-color: #0084ff;
    border-radius: 5px;
    padding: 5% 0%;
    color: #ffffff;
    cursor: pointer;
    font-size: large;
    transition: 0.4s;
   
}
.detailBoot-btn:hover{
border-radius: 50px;

}
.addboot-btn{
    background-color: #009c98;;
    border-radius: 5px;
    color: #ffffff;
    padding: 5% 0%;
    border-bottom: solid 2px #009c98;
    cursor: pointer;
    font-size: large;
    transition: 0.4s;
}
.addboot-btn:hover{
    border-radius: 50px;
    
    }
.EditZone-btn{
    color: white;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 5% 0%;
    border-bottom: solid 2px rgb(46, 46, 46);
    cursor: pointer;
    font-size: large;
    transition: 0.4s;
}
.EditZone-btn:hover{
    border-radius: 50px;
    
    }
.deleteZone-btn{
    color: #ffffff;
    background-color: rgb(192, 0, 0) ;
    border-radius: 5px;
    padding: 5% 0%;
    border-bottom: solid 2px  rgb(192, 0, 0) ;
    cursor: pointer;
    font-size: large;
    transition: 0.4s;
}
.deleteZone-btn:hover{
    border-radius: 50px;
    
    }
.img-zone{
    width: 100%;
border-radius: 5px;
    height:  280px;

}
.detail-zone{
    background-color: white;
    padding: 5px;
text-align: left;
    // padding: 0px 0px 10px 0px;
 border-radius: 5px;
 
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.detail-zone p {
    padding: 3px;
}

.reserva-btn{
    justify-content: center;
    -ms-flex-item-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    color:#fff;
    background-color:#009c98 ;
    cursor: pointer;
}
.reserva-btn:hover{
    opacity: 90%;
}

.zone{
    padding: 5px 1%;
    text-align: center;
    gap: 3.5%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
}
.count-boot{
    font-size: medium;
}