
<div class="container-button">
    <a routerLink="/add-event"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-plus-circle"></i>เพิ่มข้อมูลวันจัดงาน</button></a>
    <a routerLink="/edit-event"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-plus-circle"></i>เเก้ไขข้อมูลวันจัดงาน</button></a>
    <a routerLink="/add-zone"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-plus-circle"></i>เพิ่มโซน</button></a>
    <a routerLink="/bootandzone"><button class="btn-dashborad"><i class="pi pi-shop"></i>บูธเเละโซน</button></a>

</div>
<div class="container-button">
    <a routerLink="/check-reservation"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-check"></i>อนุมัติการจอง</button></a>
    <a routerLink="/list-reservation-approve"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-verified"></i>รายชื่อผู้ที่จองสําเร็จ</button></a>
    <a routerLink="/list-reservation-notpay"><button class="btn-dashborad" style="  border-left: 1px  solid gray;"><i class="pi pi-info-circle"></i>รายชื่อผู้ยังไม่ชําระเงิน</button></a>
    <a routerLink="/list-all-user"><button class="btn-dashborad"><i class="pi pi-users"></i>รายชื่อสมาชิกทั้งหมด</button></a>
</div>

<!-- <a routerLink="/list-reservation-approve"><button>เพิ่มโซน</button></a> -->